<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<h1>Welcome to Computer Shop</h1>

	<a href="/user/review">review</a> |
	<a href="/user/userlist">View User List</a> |
	<a href="/user/search">Search</a> |
	<a href="/logout">logout</a>

</body>
</html>