<!DOCTYPE html>
<html>
<head>
	<title>Main Home page</title>
</head>
<body>
	<h1>Welcome to Computer Shop</h1>

	<a href="/register">register</a> |
	<a href="/login">login</a> |
	
</body>
</html>